body{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    background-color: #121212;
    color: white;
}
::-webkit-scrollbar{
    width: 8px;
    background-color: #121212;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(0deg,#2980B9, #6DD5FA, #FFFFFF);
    border-radius: 10px;
}
.navbar{
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(3px);
}
.navbar-brand{
    font-family: 'Lekton';
}
.detail .profile{
    margin-top: 70px;
}
.detail .profile img{
    margin: 10px;
    width: 300px;
    border-radius: 1000px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5), 0 0 50px rgba(0, 0, 0, 0.3);
}
.detail .konten{
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5), 0 0 50px rgba(0, 0, 0, 0.3);
    background-color: #121212;
    backdrop-filter: blur(3px);
    min-height: 300px;
    border-radius: 50px;
}
.star-rating {
    display: flex;
    flex-direction: row-reverse;
    font-size:1.5em;
    justify-content:center;
    padding:0 .2em;
    text-align:center;
    width:5em;
  }
  
  .star-rating input {
    display:none;
  }
  
  .star-rating label {
    color:#ccc;
    cursor:pointer;
  }
  
  .star-rating :checked ~ label {
    color:#f90;
  }
  
  .star-rating label:hover,
  .star-rating label:hover ~ label {
    color:#fc0;
  }
  .thumbnail {
    padding:0px;
}
.detail .konten .btn{
    margin-top: 20px;
    float: right;
    position: relative;
    top: 0;
    right: 0;
}
.checked {
    color: orange;
  }
.page-footer{
    background: linear-gradient(59deg, #3A6073, #16222A, #121212);
    color: white;
}
.page-footer p{
    padding-top: -1px;
}